blinker==1.7.0
Brotli==1.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
defusedxml==0.7.1
Flask==2.3.3
Flask-Cors==4.0.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.6
m3u8==6.0.0
MarkupSafe==2.1.4
mutagen==1.47.0
praw==8.0.2
prawcore==4.0.0
pycryptodomex==3.20.0
requests==2.34.2
typing_extensions==4.15.0
update_checker==1.0.0
urllib3==1.26.6
websocket-client==1.9.0
websockets==12.0
Werkzeug==3.0.1
yt-dlp==2023.7.6
