service: vxReddit

provider:
  name: aws
  runtime: python3.10
  stage: dev
  environment:
    APP_NAME: vxReddit
    EMBED_COLOR: \#EE1D52
    REPO_URL: https://github.com/dylanpdx/vxReddit
    DOMAINNAME: vxreddit.com
    VIDEOCONVERSION: local
    RUNNING_SERVERLESS: 1

package:
  patterns:
    - '!node_modules/**'
    - '!venv/**'

plugins:
  - serverless-wsgi
  - serverless-python-requirements
  - serverless-plugin-common-excludes
  - serverless-plugin-include-dependencies

functions:
  vxRedditApp:
    handler: wsgi_handler.handler
    url: true
    timeout: 15
    memorySize: 250
    layers:
      - Ref: PythonRequirementsLambdaLayer
      - arn:aws:lambda:us-east-1:001057775987:layer:ffmpeg:2


custom:
  wsgi:
    app: vxreddit.app
  pythonRequirements:
    layer: true
    dockerizePip: true