{% extends 'base.html' %} {% block head %}

<meta property="og:type" content="video.other" />
<meta name="twitter:card" content="player" />

<meta name="twitter:player:width" content="{{ embed_info['video_width'] }}" />
<meta name="twitter:player:height" content="{{ embed_info['video_height'] }}" />
<meta name="twitter:player:stream" content="{{ video_url | safe }}" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />

<meta property="og:video" content="{{ video_url | safe }}" />
<meta property="og:video:secure_url" content="{{ video_url | safe }}" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video:width" content="{{ embed_info['video_width'] }}" />
<meta property="og:video:height" content="{{ embed_info['video_height'] }}" />
<meta property="og:image" content="{{ embed_info['thumbnail_url'] }}" />

{% endblock %}
